.searchBar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(22, 22, 22);
    height: 45px;
    border: none;
}

.youtubeSearchBar {
    margin-right: 15vw;
    margin-left: 5vw;
    color: white;
    font-weight: 500;
}

.search {
    display: flex;
    align-items: center;
}

.searchBox {
    height: 20px;
    border-radius: 5px;
    border: none;
}

.searchButton {
    background: red;
    color: white;
    text-align: inherit;
    -webkit-font-smoothing: inherit;
    height: 25px;
    font-size: inherit;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
}



@media only screen and (min-width: 600px) {
    .youtubeSearchBar {
        margin-right: 15vw;
        margin-left: 10vw;
    }
}

@media only screen and (min-width: 900px) {
    .youtubeSearchBar {
        margin-right: 15vw;
        margin-left: 20vw;
    }
}

@media only screen and (max-width: 550px) {
    .searchBox {
        height: 20px;
        width: 28vw;
        border-radius: 5px;
        border: none;
    }

    .youtubeSearchBar {
        margin-right: 10vw;
        margin-left: 5vw;
    }
}