
span {
    color: red;
} 

body {
    background-color: rgb(31, 30, 30);
}

.videoLink {
    text-decoration: none;
    color: cornsilk;
}

.channelLink {
    color: rgb(214, 3, 214);
    text-decoration: none;
}

.searchBar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(22, 22, 22);
    height: 45px;
    border: none;
}

.youtubeSearchBar {
    margin-right: 15vw;
    margin-left: 3vw;
    color: white;
    font-weight: 500;
}

.search {
    display: flex;
    align-items: center;
}

.searchBox {
    height: 20px;
    border-radius: 5px;
    border: none;
}

.searchButton {
    background: red;
    color: white;
    text-align: inherit;
    -webkit-font-smoothing: inherit;
    height: 25px;
    font-size: inherit;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
}

.videoTable {
    background-color: rgb(31, 30, 30);
    border: none;
    padding-left: 15px;
}

.videoBox {
    width: 340px;
    height: 50vw;
    display: inline-block;
    padding: 5px;
}

.videoFrame {
    height: 250px;
    width: 320px;
    border: none;
}

.videoText {
    color: rgb(99, 99, 99);
    margin: 2px;
}

.moreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.mb {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(1, 7, 24);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.mb:hover {
    background-color: rgb(6, 21, 63);
}
